* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: white;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

#canvas-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
